# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DreamLandWars/.vs/FindEmploymant/v15/.suo
DreamLandWars/.vs/FindEmploymant/v15/Browse.VC.db
DreamLandWars/.vs/FindEmploymant/v15/Browse.VC.opendb
DreamLandWars/.vs/FindEmploymant/v15/ipch/AutoPCH/a3ffffa2391a17a/MAIN.ipch
DreamLandWars/Debug/FindEmploymant.ilk
DreamLandWars/Debug/FindEmploymant.pdb
DreamLandWars/FindEmploymant/Debug/FindEmploymant.log
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/CL.command.1.tlog
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/CL.read.1.tlog
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/CL.write.1.tlog
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/FindEmploymant.lastbuildstate
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/link.command.1.tlog
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/link.read.1.tlog
DreamLandWars/FindEmploymant/Debug/FindEmploymant.tlog/link.write.1.tlog
DreamLandWars/FindEmploymant/Debug/vc141.idb
DreamLandWars/FindEmploymant/Debug/vc141.pdb
